body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: white;
}

md-toolbar {
    color: white;
    background-color: rgba(108, 100, 139,1);
}

md-sidenav {
    padding: 10px;
    background-color: rgba(107, 186, 167,1);
    min-height: 100%;
    padding: 50px;
}

.cont-div {
    padding: 4px;
    padding-top: 48px;
}

.md-sidenav-shown {
    background-color: rgba(0,0,0,0.50);
}

.menu-btn {
    min-width: 20px;
}
